:root {
    --NEGRO_TRANSLUCIDO_FUERTE: rgb(0, 0, 0);
    --TRANSPARENTE: rgba(0, 0, 0, 0);
    --GRIS: #b6b6b6;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(.22, .61, .36, 1);
}

html {
    background-color: white;
}

.flex {
    display: flex;
}

.flex_col {
    display: flex;
    flex-flow: column;
}

.wrap {
    flex-wrap: wrap;
}

.text_center {
    text-align: center;
}

.flex_grow_1 {
    flex-grow: 1;
}

.all_c {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
}

.j_sb {
    justify-content: space-between;
    align-content: space-between;
}

.j_se {
    justify-content: space-evenly;
    align-content: space-evenly;
}

.j_sa {
    justify-content: space-around;
    align-content: space-around;
}

.pos_rela {
    position: relative;
}

.pos_abs {
    position: absolute;
}

.centrar_absoluto {
    left: 50%;
    transform: translate(-50%);
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    height: 98vh;
    gap: 5px;
}

aside,main {
    height: 100%;
}

aside {
    max-width: 400px;
    padding: 20px;
    border: 1px solid;
    border-radius: 15px 0 0 15px;
}

section:last-child{
    flex-grow: 9;
}

section {
    width: fit-content;
}

.form h3 {
    margin-block: 0.5rem;
}

.form span {
    display: block;
    font-size: 0.8rem;
    background-color: #ffcc0069;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

input {
    margin-block: 5px;
    padding-block: 5px;
    font-size: 1.1rem;
}

aside button {
    background-color: #019908;
    border: 0;
    border-radius: 3px;
    padding: 10px;
}

aside button:active {
    background-color: #005804;
    color: rgb(212, 212, 212);
    transform: scale(0.9);
}

.logo {
    height: 100%;
}

.logo img {
    width: 200px;
    z-index: 0;
    border-radius: 100%;
    filter: drop-shadow(0 0 20px rgb(126, 126, 126))
}

.logo h1{
    z-index: 1;
    top: 70px;
    font-size: xxx-large;
}

.texto_gradiente {
    background-color: #ffbe00;
    background-image: linear-gradient(to right, #ffbe00, rgb(39, 39, 39));
    background-size: cover;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

main {
    border: 1px solid;
    border-radius: 0 15px 15px 0;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.arrow_box {
    align-self: stretch;
    display: flex;
    padding: 35px;
    opacity: 0;
    position: relative;
    z-index: 10;
}

.arrow_box:hover {
    opacity: 1;
    cursor: pointer;
}

.arrow {
    width: 25px;
    height: 25px;
    align-self: center;
}

.left {
    background-image: linear-gradient(to right, var(--NEGRO_TRANSLUCIDO_FUERTE), var(--TRANSPARENTE));
}

.right {
    background-image: linear-gradient(to right, var(--TRANSPARENTE), var(--NEGRO_TRANSLUCIDO_FUERTE));
    border-radius: 0 15px 15px 0;
}

.imgs {
    z-index: 1;
    height: 100%;
    width: 100%;
}

.img_added {
    height: 100%;
    width: 100%;
}

.img_added h3 {
    z-index: 10;
    color: var(--GRIS);
}

.img_box {
    z-index: 1;
    height: 100%;

}

.img_box img {
    height: 100%;
}

.img_added_info {
    z-index: 10;
    width: 100%;
    bottom: 0;
    padding: 100px 0 15px 0;
    color: var(--GRIS);
    background-image: linear-gradient(to top,var(--NEGRO_TRANSLUCIDO_FUERTE), var(--TRANSPARENTE));
}

.img_added_info button {
    visibility: hidden;
    color: white;
    background-color: #992501;
    border: 0;
    border-radius: 3px;
    padding: 10px;
}

.img_added_info button:hover {
    color: var(--GRIS);
    transform: scale(1.1);
}

.img_added_info button:active {
    color: var(--GRIS);
    background-color: #631700;
    transform: scale(1.3);
}

button {
    cursor: pointer;
}

.img_added_info ul {
    display: none;
}

.img_box:hover + .img_added_info ul, .img_added_info:hover ul, .img_added_info:hover button {
    display: unset;
    visibility: visible;
}